nav {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;
  height: 110px;
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

img {
  width: 43px;
  height: 52px;
}

nav h1 {
  font-size: 32px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -0.05em;
  /* text-align: left; */
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #141413;
  font-family: Inter;
}
